---
import Layout from "@/layouts/AuthLayout.astro";
import NewPasswordForm from "@/components/auth/NewPasswordForm";

// Tymczasowa funkcja - zostanie zastąpiona prawdziwą implementacją
const handleNewPassword = async (password: string, confirmPassword: string) => {
  console.log("New password attempt:", { password, confirmPassword });
};
---

<Layout title="Nowe hasło">
  <div class="min-h-screen flex items-center justify-center p-4">
    <NewPasswordForm
      client:load
      onSubmit={handleNewPassword}
    />
  </div>
</Layout> 